# OpenClimate PyClient Basics
This notebook will describe the basics of using the OpenClimate API Python Client.Please note that this client is a work-in-progress and will change over time

### Install the package
```python
pip install git+https://github.com/Open-Earth-Foundation/OpenClimate-pyclient.git#egg=oc_pyclient
```

### Import the `Client` class
```python
from oc_pyclient import Client
```

### Client has the following methods
- `.search()` method finds actor information by name and identifier
- `.parts()` retrives subdision of actor. (e.g. For a country, it returns the top-level administrative parts, like states or provinces.)
- `.emissions()` retrieves actor emissions
- `.population()` retrives actor population
- `.gdp()` retries acotr gross domestic product

# Import and initialize the `Client`
Since the project is still in active development, we are only allowing installations via GitHub

In [1]:
from oc_pyclient import Client
import pandas as pd

In [2]:
client = Client()

# 0 Actor search
- `name` searches for actors with exact name match.
- `query` does a full search of identifiers and names that include the search parameter.

## 0.1 Name search
search for an exact match of the actor name and is case senstive

In [3]:
client.search(name='Minnesota')

[{'actor_id': 'US-MN',
  'name': 'Minnesota',
  'type': 'adm1',
  'is_part_of': 'US',
  'datasource_id': 'ISO 3166-2:2020',
  'created': '2022-11-01T18:34:03.810Z',
  'last_updated': '2022-11-01T18:34:03.810Z',
  'names': [{'name': 'Minnesota',
    'language': 'en',
    'preferred': True,
    'datasource_id': 'ISO 3166-2:2020',
    'created': '2022-11-01T18:34:08.454Z',
    'last_updated': '2022-11-01T18:34:08.454Z'}],
  'identifiers': [{'identifier': 'Q1527',
    'namespace': 'Wikidata',
    'datasource_id': 'OEF:WD:subnational-population:20221106',
    'created': '2022-11-09T03:43:18.323Z',
    'last_updated': '2022-11-09T04:00:39.721Z'}]}]

## 0.2 Query search
A case-senstive query search of actor names and identifiers and will match partial strings.

In [4]:
client.search(query='Minnes')

[{'actor_id': 'US M84',
  'name': 'Minnesota City',
  'type': 'city',
  'is_part_of': 'US-MN',
  'datasource_id': 'UNLOCODE:2022-1',
  'created': '2022-11-01T18:35:40.758Z',
  'last_updated': '2022-11-01T18:35:40.758Z',
  'names': [{'name': 'Minnesota City',
    'language': 'und',
    'preferred': False,
    'datasource_id': 'UNLOCODE:2022-1',
    'created': '2022-11-01T18:38:35.382Z',
    'last_updated': '2022-11-01T18:38:35.382Z'}],
  'identifiers': [{'identifier': 'US M84',
    'namespace': 'UNLOCODE',
    'datasource_id': 'UNLOCODE:2022-1',
    'created': '2022-11-01T18:37:03.426Z',
    'last_updated': '2022-11-01T18:37:03.426Z'}]},
 {'actor_id': 'US-MN',
  'name': 'Minnesota',
  'type': 'adm1',
  'is_part_of': 'US',
  'datasource_id': 'ISO 3166-2:2020',
  'created': '2022-11-01T18:34:03.810Z',
  'last_updated': '2022-11-01T18:34:03.810Z',
  'names': [{'name': 'Minnesota',
    'language': 'en',
    'preferred': True,
    'datasource_id': 'ISO 3166-2:2020',
    'created': '2022-11-01T18:34:08.454Z',
    'last_updated': '2022-11-01T18:34:08.454Z'}],
  'identifiers': [{'identifier': 'Q1527',
    'namespace': 'Wikidata',
    'datasource_id': 'OEF:WD:subnational-population:20221106',
    'created': '2022-11-09T03:43:18.323Z',
    'last_updated': '2022-11-09T04:00:39.721Z'}]}]

# 1. Finding the Actor ID

## 1.1 Get country codes
The `actor_id` for countries is the 2-letter ISO-3166-1 code.

In [5]:
df_country = client.parts('EARTH')
df_country.head()

    actor_id                  name     type
5         AD               Andorra  country
234       AE  United Arab Emirates  country
0         AF           Afghanistan  country
9         AG   Antigua and Barbuda  country
7         AI              Anguilla  country

## 1.2 Get Canada actor_id

In [6]:
# gets records containing the name 'Canada'
# says the actor_id for Canada is CA
client.search(name='Canada')

[{'actor_id': 'CA',
  'name': 'Canada',
  'type': 'country',
  'is_part_of': 'EARTH',
  'datasource_id': 'ISO 3166-1:2020',
  'created': '2022-11-01T18:33:55.230Z',
  'last_updated': '2022-11-01T18:33:55.230Z',
  'names': [{'name': 'Canada',
    'language': 'en',
    'preferred': True,
    'datasource_id': 'ISO 3166-1:2020',
    'created': '2022-11-01T18:33:55.991Z',
    'last_updated': '2022-11-01T18:33:55.991Z'},
   {'name': 'Canada (le)',
    'language': 'fr',
    'preferred': True,
    'datasource_id': 'ISO 3166-1:2020',
    'created': '2022-11-01T18:33:56.183Z',
    'last_updated': '2022-11-01T18:33:56.183Z'}],
  'identifiers': [{'identifier': 'CAN',
    'namespace': 'ISO-3166-1 alpha-3',
    'datasource_id': 'ISO 3166-1:2020',
    'created': '2022-11-01T18:33:55.440Z',
    'last_updated': '2022-11-01T18:33:55.440Z'},
   {'identifier': '124',
    'namespace': 'ISO-3166-1 numeric',
    'datasource_id': 'ISO 3166-1:2020',
    'created': '2022-11-01T18:33:55.622Z',
    'last_updated': '2022-11-01T18:33:55.622Z'},
   {'identifier': 'CA',
    'namespace': 'ISO-3166-1 alpha-2',
    'datasource_id': 'ISO 3166-1:2020',
    'created': '2022-11-01T18:33:55.796Z',
    'last_updated': '2022-11-01T18:33:55.796Z'}]},
 {'actor_id': 'ES CND',
  'name': 'Canada',
  'type': 'city',
  'is_part_of': 'ES',
  'datasource_id': 'UNLOCODE:2022-1',
  'created': '2022-11-01T18:34:49.520Z',
  'last_updated': '2022-11-01T18:34:49.520Z',
  'names': [{'name': 'Canada',
    'language': 'und',
    'preferred': False,
    'datasource_id': 'UNLOCODE:2022-1',
    'created': '2022-11-01T18:37:39.380Z',
    'last_updated': '2022-11-01T18:37:39.380Z'}],
  'identifiers': [{'identifier': 'ES CND',
    'namespace': 'UNLOCODE',
    'datasource_id': 'UNLOCODE:2022-1',
    'created': '2022-11-01T18:36:14.220Z',
    'last_updated': '2022-11-01T18:36:14.220Z'}]}]

## 1.3 Get provinces of Canada
The `actor_id` is the ISO-3166-2 codes. The first two letters is the ISO-3166-1 country code and the two after the dash define the subnational actor.

In [7]:
df_provinces = client.parts('CA')
df_provinces.head()

  actor_id                       name  type
0    CA-AB                    Alberta  adm1
2    CA-BC           British Columbia  adm1
5    CA-MB                   Manitoba  adm1
6    CA-NB              New Brunswick  adm1
7    CA-NL  Newfoundland and Labrador  adm1

## 1.4 Get cities in British Columbia
The `actor_id` for cities is the UNLOCODE. The first two characters is the country code, then a space, and the three letters are unique to the city. 

**Note: LOCODES have a space in the middle and ISO-3166-2 subnational actor codes have a dash (-)**

In [8]:
df_cities = client.parts('CA-AB')
df_cities.head()

    actor_id               name  type
60    CA 5DV              Clive  city
150   CA AAB       Lac La Biche  city
223   CA ABR  Rocky View County  city
169   CA AEO      Ma-Ma-O Beach  city
1     CA AHN            Acheson  city

# 2. Get emissions data
Use the `.emissions(actor_id)` method and supply the `actor_id` as a parameter

In [9]:
df_CA_emissions = client.emissions('CA')
df_CA_emissions.head()

,emissions_id,total_emissions,year,tags,dataset
271,PRIMAP-hist_v2.4_ne:CA:1750,936000,1750,[],PRIMAP-hist_v2.4_ne
270,PRIMAP-hist_v2.4_ne:CA:1751,962000,1751,[],PRIMAP-hist_v2.4_ne
269,PRIMAP-hist_v2.4_ne:CA:1752,988000,1752,[],PRIMAP-hist_v2.4_ne
268,PRIMAP-hist_v2.4_ne:CA:1753,1010000,1753,[],PRIMAP-hist_v2.4_ne
267,PRIMAP-hist_v2.4_ne:CA:1754,1040000,1754,[],PRIMAP-hist_v2.4_ne

## 2.1 datasets available

In [10]:
set(df_CA_emissions['dataset'])

{'PRIMAP-hist_v2.4_ne', 'UNFCCC-annex1-GHG'}

# 3. Actor population and GDP

In [11]:
df_CA_population = client.population('CA')
df_CA_gdp = client.gdp('CA')

In [12]:
df_CA_population.head()

,population,year,datasource_id,datasource
72,13743069,1950,UN_DESA_PD:WorldPopulation:v2022,{'datasource_id': 'UN_DESA_PD:WorldPopulation:...
71,14085724,1951,UN_DESA_PD:WorldPopulation:v2022,{'datasource_id': 'UN_DESA_PD:WorldPopulation:...
70,14485745,1952,UN_DESA_PD:WorldPopulation:v2022,{'datasource_id': 'UN_DESA_PD:WorldPopulation:...
69,14901525,1953,UN_DESA_PD:WorldPopulation:v2022,{'datasource_id': 'UN_DESA_PD:WorldPopulation:...
68,15323202,1954,UN_DESA_PD:WorldPopulation:v2022,{'datasource_id': 'UN_DESA_PD:WorldPopulation:...

In [13]:
df_CA_gdp.head()

,gdp,year,datasource_id,datasource
41,276064000000,1980,IMF:WEO202211,"{'datasource_id': 'IMF:WEO202211', 'name': 'Wo..."
40,307246000000,1981,IMF:WEO202211,"{'datasource_id': 'IMF:WEO202211', 'name': 'Wo..."
39,314639000000,1982,IMF:WEO202211,"{'datasource_id': 'IMF:WEO202211', 'name': 'Wo..."
38,341863000000,1983,IMF:WEO202211,"{'datasource_id': 'IMF:WEO202211', 'name': 'Wo..."
37,356728000000,1984,IMF:WEO202211,"{'datasource_id': 'IMF:WEO202211', 'name': 'Wo..."

## 3.1 expand datasource information

In [14]:
# there is only one datasource for this information
set(df_CA_gdp['datasource_id'])

{'IMF:WEO202211'}

In [15]:
# show datasource information in a dataframe
df_CA_gdp_datasource = pd.json_normalize(df_CA_gdp['datasource'].drop_duplicates())
df_CA_gdp_datasource.head()

,datasource_id,name,published,URL
0,IMF:WEO202211,World Economic Outlook (October 2022),2022-11-01T00:00:00.000Z,https://www.imf.org/external/datamapper/NGDPD@...